* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    color: #fff;
    background: linear-gradient(to right, #15015c, #005c97);
}

/* General styles */
.page-container {
    width: 480px;
    max-width: 100%;
    padding: 16px;
    margin: 0 auto;
}

section {
    margin-bottom: 32px;
}

section .section-title-proiecte {
    font-size: 1.5rem;
    margin-bottom: 16px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    text-align: center;
    border-bottom: 2px solid #3498db; 
    padding-bottom: 10px; 
}

/* Header styles */
header {
    background-image: url('./images/cover.jpg');
    height: 250px ;
    background-position:center center ;
    background-size: cover;
    
}

/* Profile styles */
.profile {
    text-align: center;
    margin-top: -75px;
}

.profile-image {
    width: auto;
    height: 210px;
    border: solid 4px #af7c7c;
    border-radius: 50%;
    display: inline-block;
}

.profile-image img {
    max-width: 100%;
    border-radius: 50%;
}

.profile-details {
    font-size: 1rem;
    margin: 24px 0;
}

.profile-details h1 {
    font-size: 2rem;
    margin-bottom: 16px;
}

.tags span {
    font-size: 0.875rem;
    background-color: #3d64a6;
    padding: 8px;
    border-radius: 5px;
}

/* Project styles */
.project {
    font-size: 1rem;
    background-color: #3d64a6;
    border-radius: 5px;
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;
}

.project img {
    max-width: 100%;
}

.project .project-title {
    padding: 16px;
}

.project-details {
    display: none;
    background-color: #3d64a6;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 16px;
}

.project-details .btn-outline {
    text-align: center;
    text-decoration: none;
    color:#fff;
    padding: 8px;
    border: solid 2px #fff;
    border-radius: 5px;
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 16px;
}

.project-details .btn-outline:hover {
    color: #3d64a6;
    background-color: #fff;
}

.project:hover .project-details {
    display: block;
}

/* Profile links style */
.profile-links {
    list-style: none;
}

.profile-links li a {
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    background-color: #3d64a6;
    padding: 16px;
    display: block;
    margin: 8px 0;
    border-radius: 5px;
}

.profile-links li a:hover {
    background-color: #2b579e;
}

/* Footer style */
footer {
    font-size: 1rem;
    text-align: center;
    padding: 16px 0;
}

/* Media Query */
@media screen and (min-width: 768px) {

    .projects {
        overflow: hidden;
    }

    .project {
        width: 48%;
    }
    
    .project:nth-child(2n + 1) {
        float: left;
        margin-right: 4%;
    }
}
.anunt {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .anunt p {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
  }

  .contact {
    background-color: #f8f8f8;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 50px ;
  }
  
  section .section-title {
    font-size: 25px;
    margin-bottom: 16px;
    color: #2c3e50; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    text-align: center;
    border-bottom: 2px solid #3498db; 
    padding-bottom: 10px; 
  }
  
  
  .profile-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .profile-links li {
    margin-bottom: 15px;
  }
  
  .profile-links a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .profile-links a:hover {
    color: #000000;
  }
  
  